header {
  display: flex;
}
.left_profile {
  max-width: 960px;
}

.profile-size {
  width: 120px;
}

.right-profile {
  margin: 0 0 0 auto;
  display: flex;
}

.nav1 {
  margin-right: 2em;
  margin-top: 1em;
}

.main-image {
  width: 100%;
  max-width: 1920px;
  height: 800px;
}

.About {
  text-align: center;
  text-decoration: underline;
  margin-top: 2em;
  font-size: 30px;
}

.icon {
  background-image: url("../img 2/divide.jpeg");
  width: 300px;
  height: 300px;
  background-position: center;
  margin: auto;
  border-radius: 50%;
  margin-top: 70px;
  border: solid 5px #000000;
}

.sample-text {
  margin-top: 150px;
}

.item {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}

#sample-imgs {
  display: flex;
}

.img-size {
  width: 200px;
  margin-left: 50px;
  border: solid 3px yellow;
}
.text-mass {
  margin-left: 50px;
}

ul {
  list-style: none;
}

footer {
  margin-top: 100px;
}

.copy-right {
  font-size: 10px;
  text-align: center;
}
